<select ng-model="SelectedCurrency" ng-options="item as item.name for item in ListOfCurrencies" required ng-change="update()">
  <option value="">Select Currency</option>
</select>

<div style="display:flex">
  <div>
    <div ng-repeat="currency in CurrentExchangeRate">
      {{currency.name}} - {{currency.code}} - {{currency.currentRate}}
    </div>
  </div>
  <div>
    <div ng-repeat="currency in HistoricalExchangeRate">
      {{currency.name}} - {{currency.code}} - {{currency.currentRate}}
    </div>
  </div>
</div>