<select ng-model="SelectedCurrency" ng-options="item as item.name for item in ListOfCurrencies" required ng-change="update()">
  <option value="">Select Currency</option>
</select>

<div>
  <table>
    <div ng-repeat="currency in CurrentExchangeRate">
      <p style="font-weight:bold">{{currency.name}} ({{currency.code}})</p>
      <p>current Rate: {{currency.currentRate / calculatorCurrent}}</p>
      <p>historical Rate: {{currency.historicalRate / calculatorHistorical}}</p>
      <!-- {{(100*count/total)| number:0}}% -->
      <p>difference: {{ 
        (currency.currentRate / calculatorCurrent) / (currency.historicalRate / calculatorHistorical) 
      |number:3}}%</p>
    </div>
  </div>
  <div>
</div>